* {
    background-color:blanchedalmond
}

.HMAIN {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: navy;
    text-decoration: underline;
}

.HCTS {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: navy;
    font-size: 20px;
}

img {
    max-width: 1000px;
    max-height: 500px;
}

p,
li {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}